

@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=DM+Serif+Display&family=IBM+Plex+Mono:ital,wght@0,500;0,700;1,500&family=Space+Mono:ital@0;1&display=swap');

:root, :root.normal {
    --border-color: rgb(156, 61, 137);
    --box-bg-color: rgb(235, 232, 195);
    --border-lighter: rgb(194, 136, 192);
    --border-darker:rgb(105, 46, 103);
    --text-color :  rgb(245, 91, 14);
    --alt-text-color: rgb(237, 75, 75);
    --link-color: rgb(98, 115, 211);
    --hover-color :rgb(177, 241, 242);
    --visited-color:  rgb(153, 50, 204);
    --bg-color: #ebefd9;
    --shadow: 30px 30px 30px 0px rgb(20 20 20);

    --heading-font: 'Arvo','Consolas', monospace;
    --bg-line-height:20px;
    overflow-x: hidden;
}

:root.shiny {
    --border-color: rgb(32 189 143);
    --box-bg-color: rgb(24 24 24);
    --border-lighter: rgb(21 237 105);
    --border-darker: rgb(3, 39, 57);
    --text-color: rgb(20 211 11);
    --alt-text-color: rgb(241 232 13);
    --link-color: rgb(77 185 229);
    --hover-color: rgb(162, 181, 111);
    --visited-color: rgb(8 72 97);
    --bg-color: rgb(25, 51, 101);
    --shadow: 30px 30px 30px 0px rgb(112 141 60);
}


body {
    width:100%;
    margin:0;
    background-image:url("img/shapes.png"), url("img/test-bg.png");
    background-position: 750px 0%, center;
    background-size:1500px,  22px;

    background-color: var(--bg-color);

    font-family: 'IBM Plex Mono','Consolas', monospace;
    font-weight: 500;
    color: var(--text-color);
    font-size: 1.2625rem;
    overflow-x: hidden;
}


#first > div > div{
    flex-grow: 1;

}

h1{

    padding-left: 1rem;
    font-family:'DM Serif Display','Consolas', monospace;
    letter-spacing: unset;
    font-weight: unset;
    font-size: clamp(10px, 8vw,50px);
    line-height:1 ;

}

a {
    color: var(--link-color);
    text-decoration: none;
}
p {
    overflow-x: hidden;
    padding-left: 2rem;
    padding-right:2rem;
}


			
h2{
    font-size:1.6625rem;
    color:var(--box-bg-color);
    text-align:center ;
    overflow-x: hidden;
    font-family: var(--heading-font);
    letter-spacing: 0.1rem;
    font-weight: unset;
}

p:hover, h1:hover,h2:hover, .picture:hover, a:hover{
    background-color: var(--hover-color);
}

a:visited {
    color: var(--visited-color);
}

#first{
    margin-top: 20vh;
    margin-bottom: 10vh;
}

#first > div{
    display: flex;
    
}



.box-effect{
    
    position:relative;
    min-width: 40vw;
    max-width: 95vw;

    width: -moz-fit-content;
    width: fit-content;
    
    margin:auto;
    z-index: 0;
    box-shadow: var(--shadow);
    background-color:var(--border-color);
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url("img/noiseTexture.png");
    background-size: 100%;


}
.box-effect::before{
    content: '';
    object-fit: contain;
    z-index: 0;
    position: absolute;
    top: -20px;
    left:10px;
    transform: skewX(135deg);
    width:100%;
    height: 20px;
    background-color: var(--border-lighter);
    background-image: url("img/noiseTexture.png");

    background-size: 100%;
}
.box-effect::after{
    content: '';
    object-fit: contain;
    z-index: 0;
    position: absolute;
    left:100%;
    top:-10px;
    transform: skewY(135deg);
    height:100%;
    width: 20px;
    background-color: var(--border-darker);

}



.box-effect > div{
    background-image: url("img/lines.png");
    background-size: auto,var(--bg-line-height);
    background-color:var(--box-bg-color);
    margin:10px;
    padding-top:1rem;
    padding-bottom: 1rem;

    
}

.box-effect > h2{

    padding: 0.5rem 1rem 1rem 1rem;
}





@media screen and (max-width: 400px) {
    .box-effect{
        margin-left: 0;
        max-width: unset;
        width:100%;
    }
    
}
@media (prefers-color-scheme: dark) {
    :root, :root.normal {
        --border-color: rgb(107, 18, 52);
        --box-bg-color: rgb(2, 43, 57);
        --border-lighter: rgb(119, 70, 118);
        --border-darker:rgb(109, 11, 106);
        --text-color :  rgb(127, 216, 239);
        --alt-text-color: rgb(235, 239, 127);
        --link-color: rgb(48, 242, 106);
        --hover-color :rgb(144, 117, 242);
        --visited-color:  rgb(7, 156, 12);
        --bg-color: #222;
        --shadow: 30px 30px 30px 0px rgb(154, 154, 154);
    }


}

@media (prefers-reduced-motion: no-preference){
    .grow-anim {
        animation-name: box-grow;
        animation-iteration-count: 1;
        animation-duration: 0.5s;
    }

    .box-effect > div{
        animation-name: bg-line-move;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 1s;
    }
}

@keyframes box-grow{
    from {transform: scaleX(0.5);}
    to {transform: scaleX(1);}
}

@keyframes bg-line-move{
    from {background-position: 0% 0px;}
    to {background-position: 0% var(--bg-line-height);}
}



#logo {
    margin-left: 0.25rem;

    display: block;
    height: auto;
    width: clamp(30px,20vw,100px);
    margin-right: 0.25em;
}

#shinymsg{
    width:100vw;
    display: none;
    position: absolute;
    border-bottom-color: var(--border-color);
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-top-color: var(--border-color);
    border-top-width: 10px;
    border-top-style: solid;
    background-color: var(--box-bg-color);
    z-index: 11;
}

.widget{
    border-color: var(--alt-text-color);
    border-width: 7px;
    border-style: solid;
}

.arrow{
    position:relative;
    display: block;
    margin: auto;
    padding:1rem 0 1rem 0;
    width: 30%;
    max-width: 150px;
}
.quote{

    font-style: italic;
    font-size: 1.2625rem;
    padding-left: 3rem;
    color:var(--alt-text-color);
}

.text-art{
    color:var(--alt-text-color);
    white-space: pre;
    font-size: clamp(0.1rem,1.2625rem, 3vw);
}

.picture{
    width: 80%;
    max-width: 300px;
    height: auto;
    margin: auto;
    display:block;
    border-color: var(--alt-text-color);
    border-width: 7px;
    border-style: solid;
}