:root, :root.normal {
    --border-color: rgb(209, 116, 191);
    --box-bg-color: rgb(235, 232, 195);
    --border-lighter: rgb(230, 169, 228);
    --border-darker:rgb(106, 9, 103);
    --text-color :  rgb(245, 91, 14);
    --alt-text-color: rgb(237, 75, 75);
    --link-color: rgb(98, 115, 211);
    --hover-color :rgb(177, 241, 242);
    --visited-color:  rgb(153, 50, 204);
    --bg-color: #ebefd9;
    --shadow: 30px 30px 30px 0px rgb(101, 101, 101);
}

:root.shiny {
    --border-color: rgb(32 189 143);
    --box-bg-color: rgb(24 24 24);
    --border-lighter: rgb(21 237 105);
    --border-darker: rgb(7 63 91);
    --text-color: rgb(20 211 11);
    --alt-text-color: rgb(241 232 13);
    --link-color: rgb(77 185 229);
    --hover-color: rgb(162, 181, 111);
    --visited-color: rgb(8 72 97);
    --bg-color: rgb(25, 51, 101);
    --shadow: 30px 30px 30px 0px rgb(112 141 60);
}


body {
    width:100%;
    margin:0;
    background-image:url("test-bg.png");
    background-size: 22px;
    background-color: var(--bg-color);

    font-family: monospace;
    color: var(--text-color);
    font-size: 1.2625rem;
    overflow-x: hidden;
}

h1{
    padding-left: 1rem;
}
a {
    color: var(--link-color);
    text-decoration: none;
}
p {
    overflow-x: hidden;
    padding-left: 2rem;
    padding-right:2rem;
}


p:hover, h1:hover,h2:hover{
    background-color: var(--hover-color);
}			
h2{
    font-size:1.6625rem;
    color:var(--box-bg-color);
    overflow-x: hidden;
}


#first{
    margin-top: 20vh;
}

.box-effect{
    position:relative;

    max-width: 95vw;
    min-width: 80vw;

    margin:auto;
    z-index: 0;
    box-shadow: var(--shadow);
}
.box-effect::before{
    content: '';
    object-fit: contain;
    z-index: 0;
    position: absolute;
    top: -20px;
    left:10px;
    transform: skewX(135deg);
    width:100%;
    height: 20px;
    background-color: var(--border-lighter);
}
.box-effect::after{
    content: '';
    object-fit: contain;
    z-index: 0;
    position: absolute;
    left:100%;
    top:-10px;
    transform: skewY(135deg);
    height:100%;
    width: 20px;
    background-color: var(--border-darker);
}


table{
    overflow-x: hidden;
    width:100%;
    border-collapse: collapse;
    background-color:var(--box-bg-color);
}
td{

    
    border-color: var(--border-color);
    border-width: 10px;
    border-style: solid;
    

}

th{
    border-color: var(--border-color);
    border-width: 10px;
    border-style: solid;
    background-color:var(--border-color);
}


.array{
    padding: 2rem;
}
.array table{
    max-width:initial;
    min-width: initial;
    margin: initial;
}

.array th{
    border-width: 5px;
    border-style: solid;
    padding-left: 1rem;
    padding-right:1rem;
    color:var(--box-bg-color);
}
.array td{
    border-width: 2px;
    padding-right:1rem;
}

ul{
    list-style-type:none ;
}
a:hover {
    background-color: var(--hover-color);
}
a:visited {
    color: var(--visited-color);
}

@media (prefers-color-scheme: dark) {
    :root, :root.normal {
        --border-color: rgb(200, 29, 95);
        --box-bg-color: rgb(2, 43, 57);
        --border-lighter: rgb(180, 104, 178);
        --border-darker:rgb(52, 2, 50);
        --text-color :  rgb(127, 216, 239);
        --alt-text-color: rgb(235, 239, 127);
        --link-color: rgb(48, 242, 106);
        --hover-color :rgb(144, 117, 242);
        --visited-color:  rgb(7, 156, 12);
        --bg-color: #222;
    }


}

#logo {
    vertical-align: middle;
    margin-right: 0.25em;
}

#shinymsg{
    width:100vw;
    display: none;
    position: absolute;
    border-bottom-color: var(--border-color);
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-top-color: var(--border-color);
    border-top-width: 10px;
    border-top-style: solid;
    background-color: var(--box-bg-color);
    z-index: 11;
}

.widget{
    border-color: var(--alt-text-color);
    border-width: 7px;
    border-style: solid;
}


#VHSfilter{
    position: fixed;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 10;

}
.next{
    text-align:center;
    color:var(--alt-text-color);
}

.arrow-text{
    text-align:center;
    font-size: 3em ;
    width:min-content;
    margin:auto;
    font-weight: bold;
    padding: 1rem 0 1rem 0;
    z-index:10;
}

.quote{
    font-family: serif;
    font-style: italic;
    font-size: 1.2625rem;
    padding-left: 3rem;
    color:var(--alt-text-color);
}

.text-art{
    color:var(--alt-text-color);
    white-space: pre;
    font-size: clamp(0.1rem,1.2625rem, 3vw);
}

.picture{
    width: 80%;
    max-width: 300px;
    height: auto;
    margin: auto;
    display:block;
}